/* layout */
li {
    list-style: none;
}

header{
    height:100px;
     border-bottom:1px solid #777; 
}

main{
    background-color: white;
}
.video{
    position: relative;
    left: 200px;
}

.boxynews{
    background-color: rgb(209, 209, 209);
    position: relative;
    height: 1200px;
}

.boxynewsgroup{
    display: flex;
    /* background-color: red; */
    margin: auto;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    height: 800px;
   /* width: 1024px; */
}

.boxnews1{
    cursor: pointer;
    background-color: white;
    margin: 60px 10px;
    height: 150px;
    border: 1px solid gray;
}

.boxnews2{
    cursor: pointer;
    background-color: white;
    margin: 60px 10px;
    height: 150px;
}

.boxnews3{
    cursor: pointer;
    background-color: white;
    margin: 60px 10px;
    height: 150px;
}
.boxnews4{

    cursor: pointer;
    background-color: white;
    margin: 60px 10px;
    height: 150px;
}
.boxnews5{

    cursor: pointer;
    background-color: white;
    margin: 60px 10px;
    height: 150px;
}

.boxnews6{

    cursor: pointer;
    background-color: white;
    margin: 60px 10px;
    height: 150px;
}





footer{
    background: red;
    padding: 30px 0;
    height: 530px;
}

.inner-container{
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
nav {
    margin: 30px;

}
.logo{

    position: absolute;
    left: 0px;
    font-size: 30px;
}

.menu{

    position: absolute;
    left: 300px;
}

#button{

    position: absolute;
    right:0px;
}
.gamsa {
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.footermenu1{
    color: white;

}

.menumenuA{
    font-size: 25px;
}

.footermenu2{
    color: white;

}
.menumenuB{
    font-size: 25px;
    text-align: center;
}
.footermenu3{

    color:white;
}

.menumenuC{
    font-size: 25px;
    text-align:  center;
}

.footermenu4{

    color:white;
}

.menumenuD{
    font-size: 25px;
    text-align:  center;
}


.footermenu5{

    color:white;
}

.menumenuE{
    font-size: 25px;
    text-align:  center;
}

.footermenu6{

    color:white;
}

.menumenuF{
    font-size: 25px;
    text-align:  center;
}

.footerimg{
    display: flex;
    justify-content: space-between;
        margin: 30px 400px; 
        width: 200px;
        height: 100px;
/* background-color: red; */

}

.footerend{
    color: white;
    font-size: 10px;
    text-align: center;
}

.slogun{
    font-size: 25px;
    text-align: center;
}
.letter{
    text-align: center;
    font-size: 15px;
}

.boxy{
    display: flex;
    background-color: red; 

    justify-content: center;

}

#boxyone{
    background-color:red;
    color: white;
    width: 300px;
    height: 200px;
}
#boxytwo{
    background-color: pink;
    color:white;
    width: 300px;
    height: 200px;
}

#boxythree{
    background-color: red;
    color:white;
    width: 300px;
    height: 200px;
}
.video{
    width: 1040px;
}

.newsbox{
    /* background-color: red; */
    display: flex;
    /* text-align: left; */
    flex-direction: column;
    justify-content: center;
    margin: 60px;
    color: pink;
    /* border-bottom: 1px gray solid ; */
}

.news1{
    /* background-color: red; */
   /* background-color: blue; */
    padding: 10px;
    height: 30px;
    border-bottom: 1px red ;
}
span{
    color:gray;

}
.거캠영상{
    max-width: 100%;
    height: auto;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	/* background: transparent; */
}

html {
	overflow-y:scroll;
	-webkit-text-size-adjust: 100%;
}

html, body {
	width:100%;
	font-size:15px; line-height:1.76em;
	background-color: #fff;
	/* word-break:break-all;
	*word-break:break-all;
	-ms-word-break:break-all;  */
	margin:0 auto;
}

body {
	font-size: 1.0em;
	font-family: 'Noto Sans KR', '나눔 고딕', 'nanum gothic', '맑은 고딕','Malgun Gothic','verdana','arial','dotum', '돋움', sans-serif;
	color: #222;

}

select::-ms-expand,
select::-ms-expand {
	display:none;
}
html[data-ie-ver="8"] select,
html[data-ie-ver="9"] select {
	padding-left:0;
	padding-right:0;
	background:red;
}

input[type="password"] {
	font-family: sans-serif;
}
input[type="text"],
input[type="password"] {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
textarea {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-overflow-scrolling:touch;
	-moz-overflow-scrolling:touch;
	-o-overflow-scrolling:touch;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

a {text-decoration: none;}

input {
	padding: 0;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: top;
}

th {
	font-size:1.0em;
}

img, fieldset {
	border:0px;
}

ol, ul {
	list-style: none;
}

hr {
	border:0;
	height:1px;
	background:red;
}

label {
	cursor: pointer;
}

legend, caption {
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}

em {font-style:normal;}
ins {text-decoration: none;}

/*images*/
img {max-width:100%;}